section {
  .gusBlock {
    height: 100vh;

    margin-bottom: 400px;
  }

  img {
    border-radius: 6px;
  }

  h3 {
    font-size: 1.5rem;

    b {
      color: rgb(101, 224, 101);
      font-weight: 900;
    }
  }
}
